.flex1 {
    flex: 1;
  }
  .flex2 {
    flex: 2;
  }
  .flex3 {
    flex: 3;
  }
  .flex4 {
    flex: 4;
  }
  .flex5 {
    flex: 5;
  }
  .flex6 {
    flex: 6;
  }
  .flex7 {
    flex: 7;
  }
  .flex8 {
    flex: 8;
  }
  .flex9 {
    flex: 9;
  }
  .flex10 {
    flex: 10;
  }
  .flex11 {
    flex: 11;
  }
  .flex12 {
    flex: 12;
  }